<?php

define('DOCKER_DRUPAL_HASH_SALT', '{{ getenv "DRUPAL_HASH_SALT" }}');
define('DOCKER_DRUPAL_DATABASE_NAME', '{{ getenv "DRUPAL_DATABASE_NAME" }}');
define('DOCKER_DRUPAL_DATABASE_USERNAME', '{{ getenv "DRUPAL_DATABASE_USERNAME" }}');
define('DOCKER_DRUPAL_DATABASE_PASSWORD', '{{ getenv "DRUPAL_DATABASE_PASSWORD" }}');
define('DOCKER_DRUPAL_DATABASE_PREFIX', '{{ getenv "DRUPAL_DATABASE_PREFIX" }}');
define('DOCKER_DRUPAL_DATABASE_HOST', '{{ getenv "DRUPAL_DATABASE_HOST" }}');
define('DOCKER_DRUPAL_DATABASE_PORT', '{{ getenv "DRUPAL_DATABASE_PORT" }}');
define('DOCKER_DRUPAL_CONFIG_DIRECTORY_SECRET', '{{ getenv "DRUPAL_CONFIG_DIRECTORY_SECRET" }}');
