{{if getenv "BASIC_AUTH_ENABLED"}}
<LocationMatch "^/.*">
  AuthUserFile {{ getenv "BASIC_AUTH_FILE" }}
  AuthType {{ getenv "BASIC_AUTH_TYPE" }}
  AuthName "{{ getenv "BASIC_AUTH_REALM" }}"
  Require valid-user
</LocationMatch>
{{end}}
