[program:nginx]
command = /usr/sbin/nginx -c /etc/nginx/nginx.conf -g 'daemon off;'
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0
loglevel = warn
user = root
autostart = {{ getenv "START_NGINX" }}
autorestart = true
priority = 5
