[program:php-fpm]
command = /usr/sbin/php-fpm{{ getenv "PHP_VERSION" }} -F
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0
{{ if not (eq "true" (getenv "NON_PRIVILEGED_USER")) }}
user = root
{{ end }}
autostart = {{ getenv "START_PHP_FPM" }}
autorestart = true
priority = 5
