[program:tideways_daemon]
command = /usr/bin/tideways-daemon --hostname="{{ getenv "TIDEWAYS_HOSTNAME" }}" --address=0.0.0.0:9135 --udp=0.0.0.0:9136 --env="{{ getenv "TIDEWAYS_ENVIRONMENT" }}"
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0
loglevel = warn
user = tideways
autostart = true
autorestart = true
priority = 5
