# PHP entry point for setup application
location ~* ^/setup($|/) {
{{ if eq "true" (getenv "MAGENTO_ALLOW_ACCESS_TO_SETUP") }}
    root $MAGE_ROOT;
    location ~ ^/setup/index.php {
        fastcgi_pass   php-fpm;
        fastcgi_index  index.php;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        fastcgi_param  HTTPS $custom_https if_not_empty;
        include        fastcgi_params;
    }

    location ~ ^/setup/(?!pub/). {
        deny all;
    }

    location ~ ^/setup/pub/ {
        add_header X-Frame-Options "SAMEORIGIN";
    }
{{ else }}
    deny all;
{{ end }}
}
