# don't send any mail
MAILTO=""
SUPERVISORCTL="supervisorctl -c /etc/supervisor/supervisord.conf -u supervisor -p supervisor"

{{ if eq "true" (getenv "RUN_REPORTS_CRON") }}
* * * * * root $SUPERVISORCTL start echo_magento_reports
{{ end }}
