{{ if eq "true" (getenv "AUTH_IP_WHITELIST_ENABLED") }}
{{ $ips := split (replace (replace (getenv "AUTH_IP_WHITELIST") "," " " -1) "\n" " " -1) " " }}
{{ range $ips }}{{ if . }}
allow {{ . }};
{{ end }}{{ end }}
deny all;
{{ end }}
