server {
    server_name _;
    listen {{ getenv "WEB_HTTP_PORT" }} default_server;
{{ if eq "true" (getenv "WEB_HTTPS") }}
{{ if ne "true" (getenv "WEB_HTTP") }}

    access_log off;
    rewrite ^ https://$host$request_uri? permanent;
}

server {
    server_name _;
{{ end }}
{{ if eq "true" (getenv "WEB_HTTPS_OFFLOADED") }}
    listen {{ getenv "WEB_HTTPS_PORT" }} default_server;{{ else }}
    listen {{ getenv "WEB_HTTPS_PORT" }} default_server ssl http2;
    ssl_certificate {{ getenv "WEB_SSL_FULLCHAIN" }};
    ssl_certificate_key {{ getenv "WEB_SSL_PRIVKEY" }};{{ end }}{{ end }}

    set $access_log_enabled 1;

    include /etc/nginx/sites-available/default-*.conf;

    error_log /dev/stderr notice;
    access_log /dev/stdout if=$access_log_enabled;
}
