server {
    server_name _;
{{ if ne "false" (getenv "WEB_HTTP") }}
    listen {{ getenv "WEB_HTTP_PORT" }} default_server;
{{ if and (eq "true" (getenv "WEB_HTTPS_ONLY")) (ne "true" (getenv "WEB_REVERSE_PROXIED")) }}

    access_log off;
    rewrite ^ https://$host$request_uri? permanent;
}

server {
    server_name _;
{{ end }}{{ end }}
{{ if eq "true" (getenv "WEB_HTTPS") }}
{{ if eq "true" (getenv "WEB_HTTPS_OFFLOADED") }}
    listen {{ getenv "WEB_HTTPS_PORT" }} default_server;{{ else }}
    listen {{ getenv "WEB_HTTPS_PORT" }} default_server ssl http2;
    ssl_certificate {{ getenv "WEB_SSL_FULLCHAIN" }};
    ssl_certificate_key {{ getenv "WEB_SSL_PRIVKEY" }};{{ end }}{{ end }}

    set $access_log_enabled 1;

    include /etc/nginx/sites-available/default-*.conf;

    error_log /dev/stderr notice;
    access_log /dev/stdout combined if=$access_log_enabled;
}
