{{ if eq "true" (getenv "WEB_HTTPS_ONLY") }}
  if ($custom_scheme = 'https') {
    set $do_https_redirect 0;
  }

  if ($do_https_redirect != 0) {
    rewrite ^ https://$host$request_uri? permanent;
  }
{{ end }}
