upstream php-fpm {
   server unix:///var/run/php5.6-fpm.sock;
}

server {
    listen 80;

    root /app/public;
    index index.html;


    server_name {{ getenv "APP_HOSTNAME" }};



    location ~ ^/errors/.*\.(xml|phtml)$ {
        deny all;    }
    location ~ ^/var(/|$) {
        deny all;    }
    location ~ ^/skin(/|$) {    }
    location ~ ^/shell(/|$) {
        deny all;    }
    location ~ ^/report/config\.xml(/|$) {
        deny all;    }
    location ~ ^/pkginfo(/|$) {
        deny all;    }
    location ~ ^/php\.ini\.sample(/|$) {
        deny all;    }
    location ~ ^/media/downloadable(/|$) {
        deny all;    }
    location ~ ^/media/customer(/|$) {
        deny all;    }
    location ~ ^/media/custom_options(/|$) {
        deny all;    }
    location ~ ^/media(/|$) {    }
    location ~ ^/mage(/|$) {
        deny all;    }
    location ~ ^/lib(/|$) {
        deny all;    }
    location ~ ^/install\.php(/|$) {
        deny all;    }
    location ~ ^/index\.php\.sample(/|$) {
        deny all;    }
    location ~ ^/includes(/|$) {
        deny all;    }
    location ~ ^/downloader(/|$) {
        deny all;    }
    location ~ ^/dev(/|$) {
        deny all;    }
    location ~ ^/cron\.sh(/|$) {
        deny all;    }
    location ~ ^/cron\.php(/|$) {
        deny all;    }
    location ~ ^/composer\.json(/|$) {
        deny all;    }
    location ~ ^/app(/|$) {
        deny all;    }
    location ~ /\.ht[^/]*$ {
        deny all;    }
    location ~ ^/RELEASE_NOTES\.txt(/|$) {
        deny all;    }
    location ~ ^/\.gitignore(/|$) {
        deny all;    }


    location / {
        try_files $uri @rewriteapp;
    }

    location @rewriteapp {
        rewrite ^(.*)$ /index.php/$1 last;
    }

    location ~ \.php {
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;

        fastcgi_param PATH_TRANSLATED $document_root$fastcgi_path_info;
        fastcgi_param PATH_INFO $fastcgi_path_info;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param HTTPS $https;
        fastcgi_param HTTP_PROXY "";

{{ if eq "developer" (getenv "MAGENTO_MODE") }}
        fastcgi_param MAGE_IS_DEVELOPER_MODE 1;
{{ end }}

        fastcgi_pass php-fpm;
    }

    error_log /var/log/nginx/magento-test.dev_error.log;
    access_log /var/log/nginx/magento-test.dev_access.log;

}
