location ~ \.php(/|$) {
    fastcgi_pass unix:/run/php5.6-fpm.sock;
    fastcgi_split_path_info ^(.+\.php)(/.*)$;
    include fastcgi_params;
    fastcgi_param HTTPS $custom_https if_not_empty;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;

    fastcgi_param PATH_TRANSLATED $document_root$fastcgi_path_info;
    fastcgi_param PATH_INFO $fastcgi_path_info;
    fastcgi_param HTTP_PROXY "";

{{ if eq "developer" (getenv "MAGENTO_MODE") }}
    fastcgi_param MAGE_IS_DEVELOPER_MODE 1;
{{ end }}
}
