; Configuration for Tideways Profiler Extension
; priority=40
{{if eq "true" (getenv "TIDEWAYS_ENABLED")}}
extension=tideways.so
{{end}}

; Tideways Application API-Key to configure when using just one application on
; this php installation.
{{if getenv "TIDEWAYS_API_KEY"}}
tideways.api_key = {{ getenv "TIDEWAYS_API_KEY" }}
tideways.connection = {{ getenv "TIDEWAYS_CONNECTION" }}
{{end}}

; Configure the profiling sample rate for this PHP server globally.  The given
; number is an integer representing percent between 0 and 100
tideways.sample_rate={{getenv "TIDEWAYS_SAMPLE_RATE"}}

{{if getenv "TIDEWAYS_COLLECT"}}
tideways.collect={{getenv "TIDEWAYS_COLLECT"}}
{{end}}

; Automatically detect transactions and exceptions of a given framework The
; following frameworks are currently supported:
;
; symfony2, symfony2c, shopware, oxid, magento, zend1, zend2, laravel,
; wordpress
{{if getenv "TIDEWAYS_FRAMEWORK"}}
tideways.framework={{ getenv "TIDEWAYS_FRAMEWORK" }}
{{end}}

{{if getenv "TIDEWAYS_SERVICE"}}
tideways.service={{ getenv "TIDEWAYS_SERVICE" }}
{{end}}
