[job-local "mailqueue-registration-send"]
schedule = */10 * * * * 
command = /app/vendor/bin/console mailqueue-registration-send

[job-local "stores-collectors"]
schedule = * * * * * 
command = /app/vendor/bin/console stores-collectors

[job-local "oms-check-condition"]
schedule = * * * * * 
command = /app/vendor/bin/console oms-check-condition

[job-local "oms-check-timeout"]
schedule = * * * * * 
command = /app/vendor/bin/console oms-check-timeout

[job-local "oms-clear-locks"]
schedule = 0 6 * * * 
command = /app/vendor/bin/console oms-clear-locks
