<VirtualHost *:80>
    DocumentRoot /app/docroot
    DirectoryIndex index.php index.html

    <Directory /app/docroot>
        Options FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>
