# Everything below is optional to improve performance by forcing
# clients to cache image and design files, change the expires time
# to suite project needs.
<IfModule mod_expires.c>
  <LocationMatch "^/var/[^/]+/storage/images/.*">
    # eZ Platform appends the version number to image URL (ezimage
    # datatype) so when an image is updated, its URL changes too
    ExpiresActive on
    ExpiresDefault "now plus 10 years"
  </LocationMatch>
</IfModule>
