[www]
user = {{ getenv "APP_USER" }}
group = {{ getenv "APP_GROUP" }}

listen = /var/run/php7.0-fpm.sock

listen.owner = www-data
listen.group = www-data

pm = dynamic

pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3

php_value[date.timezone] = {{ getenv "PHP_TIMEZONE" }}
php_value[memory_limit] = {{ getenv "PHP_MEMORY_LIMIT" }}

php_admin_value[display_errors] = Off
php_admin_value[error_log] = /dev/stdout
php_admin_flag[log_errors] = on
