set $custom_https on;
set $custom_scheme https;

if ($http_x_forwarded_proto = '') {
  set $custom_scheme $scheme;
  set $custom_https $https;
}

if ($http_x_forwarded_proto) {
    set $custom_scheme $http_x_forwarded_proto;
}

if ($http_x_forwarded_proto = http) {
    set $custom_https off;
}
