server {
    server_name {{ getenv "WEB_SERVER_NAME" }};
{{ if ne "false" (getenv "WEB_HTTP") }}
    listen {{ getenv "WEB_HTTP_PORT" }} {{ if eq "true" (getenv "WEB_DEFAULT_SERVER") }} default_server{{ end }}{{ if eq "true" (getenv "WEB_HTTP2_PLAINTEXT_NONBC") }} http2{{ end }};
{{ if and (eq "true" (getenv "WEB_HTTPS_ONLY")) (ne "true" (getenv "WEB_REVERSE_PROXIED")) }}

    access_log off;
    rewrite ^ https://$host$request_uri? permanent;
}

server {
    server_name {{ getenv "WEB_SERVER_NAME" }};
{{ end }}{{ end }}
{{ if eq "true" (getenv "WEB_HTTPS") }}
{{ if eq "true" (getenv "WEB_HTTPS_OFFLOADED") }}
    listen {{ getenv "WEB_HTTPS_PORT" }}{{ if eq "true" (getenv "WEB_DEFAULT_SERVER") }} default_server{{ end }}{{ if eq "true" (getenv "WEB_HTTP2_PLAINTEXT_NONBC") }} http2{{ end }};{{ else }}
    listen {{ getenv "WEB_HTTPS_PORT" }}{{ if eq "true" (getenv "WEB_DEFAULT_SERVER") }} default_server{{ end }} ssl{{ if eq "true" (getenv "WEB_HTTP2_TLS") }} http2{{ end }};
    ssl_certificate {{ getenv "WEB_SSL_FULLCHAIN" }};
    ssl_certificate_key {{ getenv "WEB_SSL_PRIVKEY" }};{{ end }}{{ end }}

    set $access_log_enabled 1;

{{ $includes := split (replace (replace (getenv "WEB_INCLUDES") "," " " -1) "\n" " " -1) " " }}
{{ range $includes }}{{ if . }}
    include /etc/nginx/sites-available/{{ . }}.conf;
{{ end }}
{{ end }}

    error_log /dev/stderr notice;
    access_log /dev/stdout {{ getenv "NGINX_LOG_FORMAT_NAME" }} if=$access_log_enabled;
}
