{{ if getenv "AUTH_HTTP_ENABLED" }}
<LocationMatch "^/.*">
  AuthUserFile {{ getenv "AUTH_HTTP_FILE" }}
  AuthType {{ getenv "AUTH_HTTP_TYPE" }}
  AuthName "{{ getenv "AUTH_HTTP_REALM" }}"
  Require valid-user
  
  {{ $ips := split getenv "AUTH_HTTP_WHITELIST_IPS" "," }}
  {{ range $ips }}
  Require ip {{ . }};
  {{ end }}
</LocationMatch>
{{ end }}
