{{ if ne "false" (getenv "WEB_HTTP") }}
<VirtualHost *:{{ getenv "WEB_HTTP_PORT" }}>
{{ if or (ne "true" (getenv "WEB_HTTPS_ONLY")) (eq "true" (getenv "WEB_REVERSE_PROXIED")) }}
    IncludeOptional /etc/apache2/sites-available/000-default-*.conf
{{ else }}
    RewriteEngine on
    RewriteRule ^.* https://%{HTTP_HOST}$0 [L,R=301]
{{ end }}
</VirtualHost>
{{ end }}

{{ if eq "true" (getenv "WEB_HTTPS") }}
<VirtualHost *:{{ getenv "WEB_HTTPS_PORT" }}>
    {{ if ne "true" (getenv "WEB_HTTPS_OFFLOADED") }}
    SSLEngine on
    {{ end }}

    IncludeOptional /etc/apache2/sites-available/000-default-*.conf
</VirtualHost>
{{ end }}