<VirtualHost *:{{ getenv "WEB_HTTP_PORT" }}>
{{ if or (eq "true" (getenv "WEB_HTTP")) ( and (eq "auto" (getenv "WEB_HTTP")) (eq "false" (getenv "WEB_HTTPS")) ) }}
    IncludeOptional /etc/apache2/sites-available/000-default-*.conf
{{ else }}
    RewriteEngine on
    RewriteRule ^.* https://%{HTTP_HOST}$0 [L,R=301]
{{ end }}
</VirtualHost>

{{ if eq "true" (getenv "WEB_HTTPS") }}
<VirtualHost *:{{ getenv "WEB_HTTPS_PORT" }}>
    {{ if ne "true" (getenv "WEB_HTTPS_OFFLOADED") }}
    SSLEngine on
    SSLCertificateFile {{ getenv "WEB_SSL_FULLCHAIN" }}
    SSLCertificateKeyFile {{ getenv "WEB_SSL_PRIVKEY" }}
    {{ end }}

    IncludeOptional /etc/apache2/sites-available/000-default-*.conf
</VirtualHost>
{{ end }}