{{ $nodes := split (getenv "SPRYKER_CRON_COMMANDS") "," }}
{{ range $nodes }}
[program: {{ replace ( . ) ":" "-" -1 }}]
command = /app/vendor/bin/console {{ . }}
startsecs = 0
startretries = 0
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0
{{ if not (eq "true" (getenv "NON_PRIVILEGED_USER")) }}
user = www-data
{{ end }}
autostart = false
autorestart = false
priority = 5
{{ end }}
